/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;
 }

 body {
    margin: 30px;
    font-size: 13px;
 }

/* home */
 .paragraph {
    margin: 30px;
 }

 .bookers{
    font-family: Verdana, Arial, Helvetica, sans-serif;
 }

 /* index */
.books-table {
   border-collapse: separate;
   border-spacing: 8px;
}

 .operation {
   display: flex;
 }

 .each-op {
   margin: 7px 5px 0 0;
 }

 .field {
    margin: 10px 0;
 }

 p {
    margin: 7px 0 0 0;
 }

 /* error message */
 .error-box {
     width: 450px;
     border: 2px solid #c00;
     background-color: #f0f0f0;
 }

 .error-num {
     background-color: #c00;
     color: white;
     font-size: 12px;
     padding: 7px;
 }

 .input {
   width: 250px;
 }

 /* メッセージ */
 .notice {
     color: green
 }